$def with (session)
<div id="header">
	<div id="header_right">
    	$if not session.loggedin:
            <form action="/login" id="login_form" method="post">
                <input id="username" name="username" type="text" maxlength="20" value="" />
                <input id="password" name="password" type="password" maxlength="8" value="" />
                <input id="submit" type="submit" value="登录" />
                <input id="signin" type="button" value="注册" />
            </form>
            <div id="password_mask" class="color_gray">密码</div>
        $else:
           	<div id="logout">
            	<span>$session.username</span>
                <span>|</span>
                <a href="/logout">注销</a>
            </div>
    </div>
    <div id="header_msg" class="hide" />
</div>
<div id="body">
	<div id="body_left">
	</div>
	<div id="body_right">
	</div>
</div>
<div id="footer">
</div>