$def with (content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk">
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta name="author" content="luke chai">
	<meta name="description" content="book inn">
	<meta name="keywords" content="amoy book inn">
    <title>book inn</title>
    
	<link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />
	<link type="text/css" href="../static/css/style.css" rel="stylesheet" />
	<script type="text/javascript" src="../static/scripts/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="../static/scripts/main.js"></script>
</head>
<body>
	<div id="wraper">
		$:content
	</div>
</body>
</html>