@charset "utf-8";

*, html, body{
	margin: 0;
	padding: 0;
	font-size: 10pt;
	font-family: Calibri, Verdana, Arial, Scans-serif;
	color: #68696D;
}
html, body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: #68696D;
}
input, button, select, textarea{
	outline:none
}
input, button{
	border: none;
	width: 100px;
	height: 20px;
	background-color: #FFF;
}
.color_gray{
	color: #CCC;
}
.highlight{
	border: 1px solid #73aeb6;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.visible{
	visibility: visible;
}
.invisible{
	visibility: hidden;
}
.f10{
	font-size: 10pt;
}
.f15{
	font-size: 15pt;
}
.lh20{
	line-height: 20px;
}

#masklayer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
}
#wraper{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#header{
	position: relative;
	height: 40px;
	background-color: #F1F1F1;
	border-bottom: 5px solid #828282;
}
#header_right{
	float: right;
	width: 300px;
	line-height: 40px;
	margin-right: 10px;
}
#header_msg{
	position: absolute;
	bottom: -30px;
	right: 0px;
	width: 310px;
	height: 30px;
	background-color: #E16B8C;
	text-align: center;
	line-height: 30px;
	color: #FFF;
}
#password{
	width: 80px;
}
#password_mask{
	position: absolute;
	top: 0;
	right: 125px;
	width: 80px;
}
#submit, #signin{
	width: 50px;
	height: 22px;
}
#logout{
	width: 90px;
	margin-left: 200px;
}
#body_register{
	width: 310px;
	min-height: 140px;
	float: right;
	background-color: #CCC;
	padding-top: 5px;
}
#body_register > div{
	width: 100%;
	line-height: 130px;
	text-align: center;
}
#body_register table{
	width: 100%;
}
#body_register table td{
	text-align: center;
}
#body_register table input{
	width: 305px;
}
#body_register div.reg_field_msg{
	line-height: 20px;
	background-color: #F75C2F;
	color: white;
	width: 305px;
	margin-left: 1px;
}

#body_left{
	float: left;
	width: 650px;
}
#body_left_header{
	margin: 1px 0;
	border: 1px solid #FBE251;
}
#new_ainn_button{
	text-align: center;
	cursor: default;	
}
#new_ainn_button, #new_ainn_body{
	width: 100%;
	height: 50px;
	background-color: #FBE251;
	line-height: 50px;
}
#search_inns_area {
	width: 100%;
	height: 50px;
	background-color: #FBE251;
	line-height: 20px;
}
#search_inns_area table th{
	text-align: center;
	font-weight: normal;
}
#new_inn_name, #search_inn_name{
	width: 260px;
	margin-right: 1px;
}
#new_inn_location, #search_inn_location{
	width: 380px;
}
#new_ainn_action, #search_inn_action{
	text-align: center;
	line-height: 30px;
}
#new_ainn_action button, #search_inn_action button{
	border: 1px solid #FBE251;
}
.ainn{
	border: 1px solid #73AEB6;
	border-bottom-width: 5px;
}
.ainn_gap {
	width: 100%;
	height: 5px;
}
.ainn_banner{
	position: relative;
	line-height: 35px;
	border-bottom: solid 1px #F1EBDD;
	padding-left: 10px;
	padding-bottom: 2px;
	margin: 5px 1px 0 1px;
}
.inn_config {
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 35px;
}
.inn_config_after_new span{	
	line-height: 30px;
	height: 30px;
	display: block;
	width: 80px;
	text-align: center;
	margin-left: 265px;
}
.ainn_rooms{
	margin: 0 0 10px 10px;
	padding-top: 15px;
}
.ainn_room td.ainn_room_remain input{
	width: 30px;
	height: 20px;
	text-align: center;
}
.ainn_room table{
	width: 100%;
}
.ainn_room table tr td{
	height: 30px;
	line-height: 20px;
}
.ainn_room table tr td button{
	width: 25px;
	border: solid 1px #CCC;
}
.ainn_room .ainn_room_name{
	width: 65%;
}
.ainn_room .ainn_room_remain{
	width: 15%;
}
.ainn_room .ainn_room_updatedtime{
	text-align: center;
	width: 20%;
}
.ainn_room .ainn_room_action{
	text-align: center;
	width: 20%;
}

#dialog_inn_config{
	position: absolute;
	width: 700px;
	background: url(../images/inn_config_bg_h.png) repeat-y top left;
}
#dialog_inn_config div.ainn{
	width: 650px;
	min-height: 400px;
	margin-left: 25px;	
}
#config_inn_layout {
	position: absolute;
	top: 0;
	left: 25px;
	width: 650px;
	min-height: 400px;
	z-index: 8;
}
#config_header{
	width: 100%;
	height: 20px;
	background: url(../images/inn_config_bg_vh.png) no-repeat top left;
	margin-top: -20px;
}
#config_inn_newbutton{
	text-align: center;
	width: 647px;
	line-height: 30px;
	margin: 1px;
	background-color: #FBE251;
	cursor: default;
}
#config_inn_newline{
	padding-top: 5px;
    padding-left: 10px;
	height: 30px;
	width: 637px;
	margin: 1px;
	background-color: #FBE251;
}
#config_inn_newline input{
	width: 100%;
	border: 1px solid #F1EBDD;
}
#config_inn_newline button{
    border: 1px solid #73AEB6;
	width: 70px;
}
#dialog_inn_config td.ainn_room_name{
	width: 350px;
}
#dialog_inn_config td.ainn_room_remain{
	padding-left: 1px;
	width: 125px;
}
#dialog_inn_config td.ainn_room_remain input{
	text-align: center;
}
#dialog_inn_config td.ainn_room_action{
	text-align: center;
	width: 155px;
}
#dialog_inn_config div.ainn_rooms td.ainn_room_action{
	position: relative;
	height: 36px;
	width: 1px;
}
#dialog_inn_config div.ainn_rooms td.ainn_room_action div.ainn_room_action_mv{
	position: absolute;
	width: 18px;
	height: 36px;
	top: 0;
	left: -13px;
	background-image: url(../images/config_inn_move.png);
}
#dialog_inn_config div.ainn_rooms td.ainn_room_action div.ainn_room_action_mv div.config_inn_moveup{
	width: 18px;
	height: 18px;
}
#dialog_inn_config div.ainn_rooms td.ainn_room_action div.ainn_room_action_mv div.config_inn_movedown{
	width: 18px;
	height: 18px;
}
#dialog_inn_config div.ainn_rooms td.ainn_room_remove{
	width: 18px;
}
#dialog_inn_config div.ainn_rooms td.ainn_room_remove div.config_inn_remove{
	width: 18px;
	height: 36px;
	background-image: url(../images/config_inn_delete.png);
	background-repeat: no-repeat;
}
#config_inn_body{
	position: relative;
	min-height: 400px;
	z-index: 6;
}
#config_footer{
	width: 100%;
	height: 20px;
	background: url(../images/inn_config_bg_vf.png) no-repeat top left;
	margin-bottom: -20px;
}
#config_close{
	position: absolute;
	top: -6px;
	right: 0px;
	width: 48px;
	height: 48px;
	background: url(../images/inn_config_close.png) no-repeat top left;
	cursor: pointer;
}
#config_innname input{
	width: 575px;
	height: 35px;
	font-size: 18px;
}
#config_inn_body div.ainn_rooms input{
	width: 100%;
}
#config_inn_save{
	position: absolute;
	left: 275px;
	bottom: 10px;
	border: 1px solid #73aeb6;
}

#body_right{
	float: right;
	width: 300px;
}
#body_right div.msg_block{
	height: 30px;
	margin-top: 1px;
	background-color: #7BA23F;
	padding: 5px;
}
#body_right div.msg_block div{
	width: 100%;
	color: #FFF;
}
#body_right div.msg_block div.msg_timestamp{
	text-align: right;
}